@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;900&display=swap');
* {
    font-family: 'Rubik', sans-serif;
}

.input-wrapper {
    text-align:center;
    margin-top: 3rem;
}


#btn-calculate {
    margin:0 auto;
    display:block;
    margin-top: 3rem;
}

#output-area {
    text-align:center;
    margin-top: 3rem;
}

h5 {
    margin-top: 1rem;
    text-align : center;
}

footer {
    color: white;
    text-align: center;
    position:fixed;
    bottom:0;
    width:100vw;
}

a {
    color: white;
}

a:hover {
    color: bisque;
}